<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login and Signup</title>
    <link rel="stylesheet" href="{% static 'assets/css/login2.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="space"></div>
      <div class="row">
        <div class="col">
          <div
            id="container"
            class="form-container"
            style="margin-bottom: 100px"
          >
            <div id="message-container" class="messagesd"></div>
            <div class="form-wrapper" id="signup-container">
              <form class="form" id="signup-form" action="#" method="post">
                {% csrf_token %}
                <h2 style="margin-bottom: 20px">Sign Up</h2>

                <div class="input-group">
                  <i class="bx bxs-user-detail"></i>
                  <input
                    type="text"
                    name="first_name"
                    placeholder="First Name"
                    required
                  />
                </div>
                <div class="input-group">
                  <i class="bx bxs-user-detail"></i>
                  <input
                    type="text"
                    name="last_name"
                    placeholder="Last Name"
                    required
                  />
                </div>
                <div class="input-group">
                  <i class="bx bxs-user"></i>
                  <input
                    type="text"
                    name="username"
                    placeholder="Username"
                    required
                  />
                </div>
                <div class="input-group">
                  <i class="bx bx-mail-send"></i>
                  <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    required
                  />
                </div>
                <div class="input-group">
                  <i class="bx bxs-lock-alt"></i>
                  <input
                    type="password"
                    name="password1"
                    id="password1"
                    placeholder="Password"
                    required
                  />
                </div>
                <div class="input-group">
                  <i class="bx bxs-lock-alt"></i>
                  <input
                    type="password"
                    name="password2"
                    id="password2"
                    placeholder="Confirm password"
                    required
                  />
                </div>
                <!-- New fields -->

                <div class="input-group">
                  <i class="bx bxs-phone"></i>
                  <input
                    type="tel"
                    name="phone"
                    placeholder="Phone Number"
                    required
                  />
                </div>
                <div class="input-group">
                  <i class="bx bxs-pen"></i>
                  <textarea name="bio" placeholder="Bio"></textarea>
                </div>
                <!-- <div class="input-group">
                    <i class="bx bxs-calendar"></i>
                    <label for="dob">dob</label>
                    <input type="date" name="dob" placeholder="Date of Birth" />
                  </div> -->
                <div class="input-group">
                  <i class="bx bxs-heart"></i>
                  <select name="interests" required>
                    <option value="" disabled selected>Interests</option>
                    <option value="love">Love</option>
                    <option value="nostrings">No Strings Attached</option>
                    <option value="hookups">Hookups</option>
                    <option value="friendship">Friendship</option>
                  </select>
                  <span class="validation-error" style="display: none"
                    >Please select an interest.</span
                  >
                </div>
                <div class="input-group">
                  <i class="bx bxs-gender-ambiguous"></i>
                  <select name="gender" required>
                    <option value="" disabled selected>Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                  </select>
                  <span class="validation-error" style="display: none"
                    >Please select a gender.</span
                  >
                </div>
                <div class="input-group">
                  <i class="bx bxs-image-add"></i>
                  <input
                    type="file"
                    name="profile_picture"
                    id="profile_picture"
                    required
                  />
                </div>
                <div class="input-group">
                  <img
                    src=""
                    alt="Profile Picture"
                    id="profile_picture_preview"
                    style="max-width: 200px; display: none"
                  />
                </div>

                <!-- End of new fields -->
                <div class="input-group">
                  <input id="button" type="submit" value="Sign up" />
                </div>
                <p>
                  <span>Already have an account?</span>
                  <b onclick="toggleForm()">Sign in here</b>
                </p>
              </form>
            </div>

            <div class="form-wrapper hidden" id="signin-container">
              <form class="form" id="signin-form" action="#" method="post">
                {% csrf_token %}
                <h2 style="margin-bottom: 20px">Sign In</h2>
                <div class="input-group">
                  <i class="bx bxs-user"></i>
                  <input
                    type="text"
                    name="username"
                    placeholder="Username"
                    required
                  />
                </div>
                <div class="input-group">
                  <i class="bx bxs-lock-alt"></i>
                  <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    required
                  />
                </div>
                <div class="input-group">
                  <input id="button" type="submit" value="Sign in" />
                </div>
                <p>
                  <b onclick="toggleForm()" style="text-decoration: underline"
                    >Sign up here</b
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'assets/js/login.js' %}"></script>
  </body>
</html>
